{{> head}}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>Abouts image</h1>
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa nemo rem fugit, eum perferendis maiores ipsam dicta ex incidunt cumque quisquam commodi blanditiis quaerat quas quae corrupti est ducimus dolor.</P>
    </div>

    <div class="col-4">
        <img src="/assets/img/abouts.jpeg" alt="Abouts image" class="img-thumbnail">
    </div>

</div>

{{> footer}}